src/main/mule/test.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="4d8cae39-36fd-4b31-8ae5-f40ba0474f43" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="testFlow" doc:id="94d330af-62eb-4bd8-9086-3004dc2b74e8" >
		<http:listener doc:name="Listener" doc:id="2dc8af45-5290-48f5-8a8e-1da42c106c13" config-ref="HTTP_Listener_config" path="/test"/>
		<set-variable value="#['testcase']" doc:name="Set Variable" doc:id="849b2b2f-ce7c-4ddc-b7d7-a4b86cfce657" variableName="test"/>
		<ee:transform doc:name="Transform Message" doc:id="7247d1bc-0109-450a-8cdb-885fe8466a60" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
payload ++ vars.test]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="3fed3acf-f1b5-4f84-b2c7-4922b80a70e2" message="#[payload]"/>
	</flow>
</mule>
